  <!-- header.html -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for("public.home")}}">{{config["PROJECT_NAME"]}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          {% set navigation_bar = [
          (url_for("public.home"), 'home', 'Home'),
          (url_for("public.about"), 'about', 'About')
      ] -%}
      {% set active_page = args.stylesheet|default('home') -%}

          <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif
            %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
              <li class="dropdown">
              <a href="{{ url_for("private.profile") }}" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.first_name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for("private.profile") }}">Profile</a></li>
              </ul>
            </li>
              <li><a href="{{ url_for("private.dashboard") }}">Dashboard</a></li>
              <li><a href="{{ url_for("user.logout") }}">Log out</a></li>
            {% else %}
              <li><a href="{{ url_for("user.login") }}">Log in</a></li>
            {% endif %}
          </ul>
          {% if current_user.is_authenticated() %}
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control typeahead" placeholder="Search for a country...">
          </form>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
