  {% extends "layout.html" %}

  <!-- home.html -->
  {% block jumbotron %}
  <div class="jumbotron">
    <div class="container">

      <h1>It worked!</h1>
      <p>This template is being rendered from.<code>templates/home.html</code>.</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/jkereako/flask-skeleton" target="_blank" role="button">Project on Github &raquo;</a></p>
    </div>
  </div>
  {% endblock %}

  {% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>This page is cached.</h2>
      <p>If you make a change to the source, reload, and don't see your change, it's because Flask's cahcing mechanism, SimpleCache, is activated. The cache is volitle and will not persist between runnings. The quick solution is to restart your server.</p>
      <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/0.10/patterns/caching/" target="_blank" role="button">Flask caching docs &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>User registration</h2>
      <p>This project supports user registration by default by way of <a href="https://github.com/lingthio/Flask-User" target="_blank">Flask-User</a>. If your project doesn't require user registration, remove it.</p>
      <p><a class="btn btn-default" href="http://pythonhosted.org/Flask-User/" target="_blank" role="button">Flask User docs &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Blocks</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  {% endblock %}
